# backend
fastapi
uvicorn

# AI application framework
langchain
langchain-community
langchain-huggingface

# vector database
chroma

# deep learning framework
sentence-transformers
transformers
accelerate

# others
lazy_loader
pypdf
requests